.container{
    margin-bottom: 100px;
}
.bg-color{
    background-color: #fceae8;
    border-radius: 15px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: rgb(182, 17, 72);
    font-weight: 700;
}
p{
    font-size: 20px;
    font-weight: 400;
    color: rgb(20, 20, 20);
}
.buy-now{
    background-image: linear-gradient(to bottom, rgb(216, 48, 188) 0%, rgb(168, 14, 117) 100%);
    border-radius: 9px;
    color: white;
    font-weight: 500;
    padding: 7px 18px;

}
.cat1{
    background-image: linear-gradient(to right, rgb(173, 101, 6) 0%, rgb(243, 172, 79) 100%);
    padding: 10px 30px;
    color: rgb(253, 245, 245);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
    border-radius: 12px;

}
.cat2{
    background-image: linear-gradient(to right, rgb(145, 14, 185) 0%, rgb(191, 43, 236) 100%); 
    padding: 10px 30px;
    color: rgb(253, 251, 251);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
    border-radius: 12px;
}
.cat3{
    background-image: linear-gradient(to right, rgb(8, 62, 163) 0%, rgb(24, 104, 196) 100%); 
    padding: 10px 30px;
    color: rgb(253, 252, 252);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
    border-radius: 12px;
}
.catagories img{
        width: 130px;
}
.card{
    border-radius: 10px;
    border: none;
    box-shadow: 5px 5px 10px lightslategray;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#contact{
    height: 300px;
}
#contact h6{
  color: gray;
}
footer{
    text-align: center;
}

